In [1]:
import urllib3
import os

# data = urllib3.response("https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data")
os.popen('wget -c https://raw.githubusercontent.com/amueller/advanced_training/master/data/adult.csv')

In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv("adult.data.csv")
data.head(50)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
12,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K
13,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,<=50K
14,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,?,>50K
15,34,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico,<=50K
16,25,Self-emp-not-inc,176756,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,<=50K
17,32,Private,186824,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,United-States,<=50K
18,38,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,<=50K
19,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,>50K
20,40,Private,193524,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
21,54,Private,302146,HS-grad,9,Separated,Other-service,Unmarried,Black,Female,0,0,20,United-States,<=50K
22,35,Federal-gov,76845,9th,5,Married-civ-spouse,Farming-fishing,Husband,Black,Male,0,0,40,United-States,<=50K
23,43,Private,117037,11th,7,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2042,40,United-States,<=50K
24,59,Private,109015,HS-grad,9,Divorced,Tech-support,Unmarried,White,Female,0,0,40,United-States,<=50K
25,56,Local-gov,216851,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,>50K
26,19,Private,168294,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,<=50K
27,54,?,180211,Some-college,10,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K
28,39,Private,367260,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,80,United-States,<=50K
29,49,Private,193366,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
30,23,Local-gov,190709,Assoc-acdm,12,Never-married,Protective-serv,Not-in-family,White,Male,0,0,52,United-States,<=50K
31,20,Private,266015,Some-college,10,Never-married,Sales,Own-child,Black,Male,0,0,44,United-States,<=50K
32,45,Private,386940,Bachelors,13,Divorced,Exec-managerial,Own-child,White,Male,0,1408,40,United-States,<=50K
33,30,Federal-gov,59951,Some-college,10,Married-civ-spouse,Adm-clerical,Own-child,White,Male,0,0,40,United-States,<=50K
34,22,State-gov,311512,Some-college,10,Married-civ-spouse,Other-service,Husband,Black,Male,0,0,15,United-States,<=50K
35,48,Private,242406,11th,7,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,Puerto-Rico,<=50K
36,21,Private,197200,Some-college,10,Never-married,Machine-op-inspct,Own-child,White,Male,0,0,40,United-States,<=50K
37,19,Private,544091,HS-grad,9,Married-AF-spouse,Adm-clerical,Wife,White,Female,0,0,25,United-States,<=50K
38,31,Private,84154,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,0,38,?,>50K
39,48,Self-emp-not-inc,265477,Assoc-acdm,12,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,<=50K
40,31,Private,507875,9th,5,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,43,United-States,<=50K
41,53,Self-emp-not-inc,88506,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,<=50K
42,24,Private,172987,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,50,United-States,<=50K
43,49,Private,94638,HS-grad,9,Separated,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
44,25,Private,289980,HS-grad,9,Never-married,Handlers-cleaners,Not-in-family,White,Male,0,0,35,United-States,<=50K
45,57,Federal-gov,337895,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Black,Male,0,0,40,United-States,>50K
46,53,Private,144361,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,38,United-States,<=50K
47,44,Private,128354,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,40,United-States,<=50K
48,41,State-gov,101603,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
49,29,Private,271466,Assoc-voc,11,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,43,United-States,<=50K

<hr>
<h2>1. How many men and women (sex feature) are represented in this dataset?</h2>

In [4]:
data['sex'].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

<hr>
<h1>2. What is the average age (age feature) of women?</h1>

In [5]:
data.loc[data['sex'] == 'Female', 'age'].shape

(10771,)

In [6]:
data.loc[data['sex'] == 'Female', 'age'].mean()

36.85823043357163

<hr>
<h1>3. What is the proportion of German citizens (native-country feature)?</h1>

In [7]:
data[data['native-country'] == 'Germany'].shape[0]/ data.shape[0]

0.004207487485028101

<hr>
<h1>4-5. What are mean value and standard deviation of the age of those who recieve more than 50K per year (salary feature) and those who receive less than 50K per year?
</h1>

In [8]:
gt = data.loc[data['salary'] == '>50K', 'age']
lt = data.loc[data['salary'] == '<=50K', 'age']
print(gt.mean(), gt.std())
print(lt.mean(), lt.std())

44.24984058155847 10.51902771985177
36.78373786407767 14.020088490824813

<hr>
<h1>
6. Is it true that people who receive more than 50k have at least high school education? (education - Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters or Doctorate feature)
</h1>

In [9]:
data.loc[data['salary'] == '>50K', 'education'].unique()

array(['HS-grad', 'Masters', 'Bachelors', 'Some-college', 'Assoc-voc',
       'Doctorate', 'Prof-school', 'Assoc-acdm', '7th-8th', '12th',
       '10th', '11th', '9th', '5th-6th', '1st-4th'], dtype=object)

<hr>
<h1>
7. Display statistics of age for each race (race feature) and each gender. Use groupby() and describe(). Find the maximum age of men of Amer-Indian-Eskimo race.
</h1>

In [10]:
for (race, sex), sub_df in data.groupby(['race', 'sex']):
    print("Race: {0}, sex: {1}".format(race, sex))
    print(sub_df.shape)

Race: Amer-Indian-Eskimo, sex: Female
(119, 15)
Race: Amer-Indian-Eskimo, sex: Male
(192, 15)
Race: Asian-Pac-Islander, sex: Female
(346, 15)
Race: Asian-Pac-Islander, sex: Male
(693, 15)
Race: Black, sex: Female
(1555, 15)
Race: Black, sex: Male
(1569, 15)
Race: Other, sex: Female
(109, 15)
Race: Other, sex: Male
(162, 15)
Race: White, sex: Female
(8642, 15)
Race: White, sex: Male
(19174, 15)

In [11]:
data.groupby(['race', 'sex']).max()

                           age    workclass   fnlwgt     education  \
race               sex
Amer-Indian-Eskimo Female   80    State-gov   445168  Some-college
                   Male     82    State-gov   356015  Some-college
Asian-Pac-Islander Female   75    State-gov   379046  Some-college
                   Male     90  Without-pay   506329  Some-college
Black              Female   90    State-gov   930948  Some-college
                   Male     90  Without-pay  1268339  Some-college
Other              Female   74    State-gov   388741  Some-college
                   Male     77    State-gov   481175  Some-college
White              Female   90  Without-pay  1484705  Some-college
                   Male     90  Without-pay  1455435  Some-college

                           education-num marital-status        occupation  \
race               sex
Amer-Indian-Eskimo Female             16        Widowed  Transport-moving
                   Male               16        Widowed  Transport-moving
Asian-Pac-Islander Female             15        Widowed  Transport-moving
                   Male               16        Widowed  Transport-moving
Black              Female             16        Widowed  Transport-moving
                   Male               16        Widowed  Transport-moving
Other              Female             14        Widowed      Tech-support
                   Male               16        Widowed  Transport-moving
White              Female             16        Widowed  Transport-moving
                   Male               16        Widowed  Transport-moving

                          relationship  capital-gain  capital-loss  \
race               sex
Amer-Indian-Eskimo Female         Wife         15024          1721
                   Male      Unmarried         27828          1980
Asian-Pac-Islander Female         Wife         99999          2258
                   Male      Unmarried         99999          2457
Black              Female         Wife         99999          4356
                   Male      Unmarried         99999          2824
Other              Female         Wife          7688          1740
                   Male      Unmarried         99999          2179
White              Female         Wife         99999          4356
                   Male           Wife         99999          3770

                           hours-per-week native-country salary
race               sex
Amer-Indian-Eskimo Female              84  United-States   >50K
                   Male                84  United-States   >50K
Asian-Pac-Islander Female              99        Vietnam   >50K
                   Male                99        Vietnam   >50K
Black              Female              99  United-States   >50K
                   Male                99  United-States   >50K
Other              Female              65  United-States   >50K
                   Male                98  United-States   >50K
White              Female              99     Yugoslavia   >50K
                   Male                99     Yugoslavia   >50K

<hr>
<h1>8. Among whom the proportion of those who earn a lot(>50K) is more: among married or single men (marital-status feature)? Consider married those who have a marital-status starting with Married (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.</h1>

In [12]:
data.loc[(data['sex'] == 'Male') &
     (data['marital-status'].isin(['Never-married', 
                                   'Separated', 
                                   'Divorced',
                                   'Widowed'])), 'salary'].value_counts()

<=50K    7552
>50K      697
Name: salary, dtype: int64

In [13]:
data.loc[(data['sex'] == 'Male') &
     (data['marital-status'].str.startswith('Married')), 'salary'].value_counts()

<=50K    7576
>50K     5965
Name: salary, dtype: int64

In [14]:
data['marital-status'].value_counts()

Married-civ-spouse       14976
Never-married            10683
Divorced                  4443
Separated                 1025
Widowed                    993
Married-spouse-absent      418
Married-AF-spouse           23
Name: marital-status, dtype: int64

<hr><h1>9. What is the maximum number of hours a person works per week (hours-per-week feature)? How many people work such a number of hours and what is the percentage of those who earn a lot among them?</h1>

In [15]:
max_hours = data['hours-per-week'].max()
count_max_hours = data[data['hours-per-week'] == max_hours].shape[0]
rich_count = data[(data['hours-per-week'] == max_hours) & (data['salary'] == '>50K')].shape[0]
percent = 100 * rich_count / count_max_hours
print(max_hours, count_max_hours, rich_count, percent, sep='\n')

99
85
25
29.41176470588235

<hr>
<h1>10. Count the average time of work (hours-per-week) those who earning a little and a lot (salary) for each country (native-country).</h1>

In [16]:
pd.crosstab(data['native-country'], data['salary'], 
           values=data['hours-per-week'], aggfunc=np.mean).T

native-country,?,Cambodia,Canada,China,Columbia,Cuba,Dominican-Republic,Ecuador,El-Salvador,England,...,Portugal,Puerto-Rico,Scotland,South,Taiwan,Thailand,Trinadad&Tobago,United-States,Vietnam,Yugoslavia
salary,,,,,,,,,,,,,,,,,,,,,
<=50K,40.164760,41.416667,37.914634,37.381818,38.684211,37.985714,42.338235,38.041667,36.030928,40.483333,...,41.939394,38.470588,39.444444,40.15625,33.774194,42.866667,37.058824,38.799127,37.193548,41.6
>50K,45.547945,40.000000,45.641026,38.900000,50.000000,42.440000,47.000000,48.750000,45.000000,44.533333,...,41.500000,39.416667,46.666667,51.43750,46.800000,58.333333,40.000000,45.505369,39.200000,49.5

<hr>

<h1>GROUP BY</h1>

In [17]:
data.groupby('race').agg({'age': ['min', 'max', 'mean']})

                   age
                   min max       mean
race
Amer-Indian-Eskimo  17  82  37.173633
Asian-Pac-Islander  17  90  37.746872
Black               17  90  37.767926
Other               17  77  33.457565
White               17  90  38.769881

In [18]:
data.groupby('workclass').agg({'age': ['min', 'max', 'mean']})

                 age
                 min max       mean
workclass
?                 17  90  40.960240
Federal-gov       17  90  42.590625
Local-gov         17  90  41.751075
Never-worked      17  30  20.571429
Private           17  90  36.797585
Self-emp-inc      17  84  46.017025
Self-emp-not-inc  17  90  44.969697
State-gov         17  81  39.436055
Without-pay       19  72  47.785714

<hr>
<h1>JOIN</h1>

In [19]:
os.popen('wget -c https://github.com/shanealynn/Pandas-Merge-Tutorial/blob/master/user_usage.csv')
os.popen('wget -c https://github.com/shanealynn/Pandas-Merge-Tutorial/blob/master/user_device.csv')
os.popen('wget -c https://github.com/shanealynn/Pandas-Merge-Tutorial/blob/master/android_devices.csv')

In [29]:
user_usage = pd.read_csv('user_usage.csv')
user_device = pd.read_csv('user_device.csv')
android_devices = pd.read_csv('android_devices.csv')

In [30]:
print(user_usage.head())
print(user_device.head())
print(android_devices.head())

   outgoing_mins_per_month  outgoing_sms_per_month  monthly_mb  use_id
0                    21.97                    4.82     1557.33   22787
1                  1710.08                  136.88     7267.55   22788
2                  1710.08                  136.88     7267.55   22789
3                    94.46                   35.17      519.12   22790
4                    71.59                   79.26     1557.33   22792
   use_id  user_id platform  platform_version     device  use_type_id
0   22782    26980      ios              10.2  iPhone7,2            2
1   22783    29628  android               6.0    Nexus 5            3
2   22784    28473  android               5.1   SM-G903F            1
3   22785    15200      ios              10.2  iPhone7,2            3
4   22786    28239  android               6.0  ONE E1003            1
  Retail Branding Marketing Name    Device                      Model
0             NaN            NaN    AD681H  Smartfren Andromax AD681H
1             NaN            NaN     FJL21                      FJL21
2             NaN            NaN       T31              Panasonic T31
3             NaN            NaN  hws7721g         MediaPad 7 Youth 2
4              3Q        OC1020A   OC1020A                    OC1020A

In [62]:
import time

begin_pd = time.time()
result = pd.merge(user_usage,
                 user_device[['use_id', 'platform', 'device']],
                 on='use_id')
finish_pd = (time.time() - begin_pd)*1_000
print(finish_pd, 'ms')
result.head()

5.616903305053711 ms

,outgoing_mins_per_month,outgoing_sms_per_month,monthly_mb,use_id,platform,device
0,21.97,4.82,1557.33,22787,android,GT-I9505
1,1710.08,136.88,7267.55,22788,android,SM-G930F
2,1710.08,136.88,7267.55,22789,android,SM-G930F
3,94.46,35.17,519.12,22790,android,D2303
4,71.59,79.26,1557.33,22792,android,SM-G361F

In [63]:
import pandasql as ps

begin_ps = time.time()
aggr_query = """
    SELECT user_usage.outgoing_mins_per_month,
           user_usage.outgoing_sms_per_month,
           user_usage.monthly_mb,
           user_usage.use_id,
           user_device.platform,
           user_device.device
    FROM user_usage JOIN user_device on user_usage.use_id=user_device.use_id
"""
finish_ps = (time.time() - begin_ps)* 1_000
print(finish_ps, 'ms')
ps.sqldf(aggr_query, locals())

0.15687942504882812 ms

,outgoing_mins_per_month,outgoing_sms_per_month,monthly_mb,use_id,platform,device
0,21.97,4.82,1557.33,22787,android,GT-I9505
1,1710.08,136.88,7267.55,22788,android,SM-G930F
2,1710.08,136.88,7267.55,22789,android,SM-G930F
3,94.46,35.17,519.12,22790,android,D2303
4,71.59,79.26,1557.33,22792,android,SM-G361F
5,71.59,79.26,1557.33,22793,android,SM-G361F
6,71.59,79.26,519.12,22794,android,SM-G361F
7,71.59,79.26,519.12,22795,android,SM-G361F
8,30.92,22.77,3114.67,22799,android,ONEPLUS A3003
9,69.80,14.70,25955.55,22801,android,GT-I9505
10,554.41,150.06,3114.67,22804,android,SM-G935F
11,189.10,24.08,519.12,22805,android,GT-I9195
12,283.30,107.47,15573.33,22806,android,A0001
13,324.34,92.52,519.12,22808,android,SM-G900F
14,797.06,7.67,519.12,22813,android,HTC Desire 510
15,797.06,7.67,15573.33,22814,android,HTC Desire 510
16,797.06,7.67,15573.33,22815,android,HTC Desire 510
17,797.06,7.67,15573.33,22816,android,HTC Desire 510
18,797.06,7.67,15573.33,22817,android,HTC Desire 510
19,78.80,327.33,10382.21,22819,android,HTC One mini 2
20,78.80,327.33,15573.33,22820,android,HTC One mini 2
21,78.80,327.33,15573.33,22822,android,HTC One mini 2
22,164.10,192.64,3114.67,22823,android,SM-G900F
23,208.26,91.76,5191.12,22824,android,SM-G900F
24,681.44,47.35,1271.39,22829,ios,"iPhone7,2"
25,324.27,91.50,519.12,22830,android,SM-G900F
26,85.97,26.94,407.01,22831,android,GT-I8190N
27,244.88,105.95,1557.33,22832,android,D5803
28,135.09,42.02,5191.12,22833,android,E6653
29,57.49,16.73,15573.33,22839,android,A0001
...,...,...,...,...,...,...
129,322.33,86.39,3114.67,23002,android,SM-G920F
130,124.70,4.64,11.68,23003,android,HUAWEI CUN-L01
131,37.27,136.10,1557.33,23005,android,SM-G900F
132,50.68,540.60,650.92,23012,ios,"iPhone6,2"
133,28.74,29.52,3114.67,23013,android,SM-G900F
134,87.76,140.61,1557.33,23015,android,SM-A300FU
135,99.81,403.78,3114.67,23016,android,SM-G900F
136,55.96,0.25,2076.45,23017,android,F3111
137,101.59,84.41,5191.12,23018,android,Moto G (4)
138,126.30,135.35,519.12,23019,android,SM-J320FN
139,42.93,124.33,519.12,23020,android,SM-G361F
140,63.56,26.87,9344.00,23021,android,SM-G930F
141,157.33,8.87,1557.33,23023,android,ONEPLUS A3003
142,70.34,18.00,212.64,23024,android,MotoE2(4G-LTE)
143,532.98,44.36,2076.45,23026,android,ONE A2003
144,60.08,261.33,12458.67,23027,android,X11
145,92.52,162.39,1557.33,23028,android,C6603
146,22.85,34.54,6577.12,23029,android,HTC One_M8
147,227.13,76.94,0.00,23030,android,SM-J320FN
148,227.13,76.94,1038.21,23031,android,SM-J320FN
149,227.13,76.94,1038.21,23032,android,SM-J320FN
150,57.66,62.85,1557.33,23036,android,VF-795
151,180.18,17.49,2076.45,23039,android,SM-G531F
152,12.85,58.32,74.40,23040,android,HTC Desire 620
153,198.59,90.49,5191.12,23041,android,SM-G900F
154,198.59,90.49,5191.12,23043,android,SM-G900F
155,198.59,90.49,3114.67,23044,android,SM-G900F
156,106.65,82.13,5191.12,23046,android,Moto G (4)
157,344.53,20.53,519.12,23049,android,SM-G900F
158,42.75,46.83,5191.12,23053,android,Vodafone Smart ultra 6

In [64]:
print('pandasql  pandas ', finish_pd/finish_ps, '')

time pd / time psql 35.80395136778115